<html ng-app="masterWebUdaIndexApp">

<head>
<title>Roxas- Admin Dashboard</title>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script defer
	src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<!------ Include the above before your head tag---------->


<link rel="stylesheet" href="/css/dashboard-admin.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="/js/master/index-master.js"></script>
<!------ This for component admin dashboard---------->



</head>

<body ng-controller="indexConfiguration">
	<div id="wrapper" class="animate">
		<nav
			class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#" style="width: 7%;">LOGO</a>
			<form class="form-inline my-2 my-lg-0" ng-if="activePaging">
				<input class="form-control mr-sm-1" type="text"
					placeholder="Search..." aria-label="Search" ng-model="searchText">
				<button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2"
					ng-click="searchParent(searchText)" type="submit">Search</button>
				<button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2"
					ng-click="lookForwardForm(controllerform)" data-toggle="modal"
					data-target="#filterForm" type="button">Filter</button>
				<button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2"
					ng-click="refreshParent()" type="button">Refresh</button>
				<select ng-model="selectedPage" class="btn btn-outline-success my-2 my-sm-0"
					style="font-size: 12px; font-family: arial;" placeholder ="Page..."
					ng-options="res.Key as res.Value for res in serialPaging"
					ng-click = "pagingParent(selectedPage)">
					<option value="" disabled selected>-- Select Page --</option>
				</select>
			</form>


			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav animate side-nav">
					<li class="nav-item"><a style="font-size: 13px;"
						class="nav-link" ng-click="clickSide('dashboard-admin')"
						title="Dashboard"> <i class="fas fa-cube"></i> Dashboard <i
							class="fas fa-cube shortmenu animate"></i></a></li>
					<li class="nav-item"><a style="font-size: 13px;"
						class="nav-link" ng-click="clickSide('user-admin-setting-index')"
						title="User Setting"> <i class="fas fa-users"></i> User
							Setting <i class="fas fa-users shortmenu animate"></i></a></li>
					<li class="nav-item"><a style="font-size: 13px;"
						class="nav-link" ng-click="clickSide('role-admin-setting-index')"
						title="User Setting"> <i class="fas fa-puzzle-piece"></i> Role
							Setting <i class="fas fa-puzzle-piece shortmenu animate"></i></a></li>
				</ul>
				<ul class="navbar-nav ml-md-auto d-md-flex">
					<li class="nav-item"><a class="nav-link" href="inbox"><i
							class="fas fa-inbox"></i> Inbox</a></li>
					<li class="nav-item"><a class="nav-link" href="profile"><i
							class="fas fa-user"></i> Profile</a></li>
					<li class="nav-item"><a class="nav-link" href="logout"><i
							class="fas fa-key"></i> Logout</a></li>
				</ul>
			</div>
		</nav>

		<div class="container-fluid">

			<div class="modal fade" id="filterForm" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content" ng-if='isFilterUserAdminSettingConfig'>
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Filter Data</h5>
						</div>
						<div class="modal-body"
							style="font-size: 14px; font-family: arial;">
							<table class="table table-bordered table-hover">
								<thead>
									<tr>
										<th style="font-size: 14px; font-family: arial;" width="auto">
											Filter - Field</th>
										<th style="font-size: 14px; font-family: arial;">Filter -
											Value</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td style="font-size: 12px; font-family: arial;" width="auto">Status
											Keaktifan</td>

										<td style="font-size: 12px; font-family: arial;"><label
											ng-repeat="flag in flagName"> <input type="radio"
												ng-model="$parent.filterIsActive" ng-value="flag.key"
												name="pageSet" />{{flag.value}}
										</label></td>
									</tr>
									<tr>
									<tr>
										<td style="font-size: 12px; font-family: arial;" width="auto">Role
											Id</td>
										<td><select ng-model="roleId" class="form-control"
											style="font-size: 12px; font-family: arial;"
											ng-options="res.roleId as res.roleName for res in roleName">
											<option value="" disabled selected>-- Select Role --</option>
										</select></td>
									</tr>
									<tr>
									<tr>
										<td style="font-size: 12px; font-family: arial;" width="auto">Range
											Tanggal Dibuat</td>
										<td><input style="font-size: 12px; font-family: arial;"
											class="form-control" type="date" ng-model="filterStartDate"
											placeholder="YYYY-MM-DD"> <label
											style="font-size: 12px; font-family: arial;">S/D</label> <input
											style="font-size: 12px; font-family: arial;"
											class="form-control" type="date" ng-model="filterEndDate"
											placeholder="YYYY-MM-DD"></td>
									</tr>
									<tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal" ng-click="cancelFilter(controllerform)">
								<i class="fas fa-times"></i> Batal
							</button>

							<button type="button" class="btn btn-primary"
								data-dismiss="modal"
								ng-click="filterParentUASC(filterIsActive,roleId,filterStartDate,filterEndDate)">
								<i class="fas fa-check"></i> Iya
							</button>
						</div>
					</div>
				</div>
			</div>

			<div ng-include="list-modal"></div>
			<div ng-include="lastUrl"></div>
		</div>
	</div>





</body>

</html>