<html ng-app="masterWebUdaIndexApp">

<head>
<title>Roxas- Admin Dashboard</title>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script defer
	src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<!------ Include the above before your head tag---------->


<link rel="stylesheet" href="/languange/css/dashboard-admin.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="/languange/js/master/index-master.js"></script>
<!------ This for component admin dashboard---------->



</head>

<body ng-controller="indexConfiguration">
	<div id="wrapper" class="animate">
		<nav
			class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#" style="width: 7%;">LOGO</a>


			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav animate side-nav">
					<li class="nav-item"><a style="font-size: 13px;"
						class="nav-link" ng-click="clickSide('dashboard-admin')"
						title="Dashboard"> <i class="fas fa-cube"></i> Dashboard <i
							class="fas fa-cube shortmenu animate"></i></a></li>
					<li class="nav-item"><a style="font-size: 13px;"
						class="nav-link" ng-click="clickSide('dictionary')"
						title="Dashboard"> <i class="fas fa-book"></i> Kamus <i
							class="fas fa-book shortmenu animate"></i></a></li>
					<li class="nav-item"><a style="font-size: 13px;"
						class="nav-link" ng-click="clickSide('spell-checker')"
						title="Dashboard"> <i class="fas fa-magic"></i> Perbaikan Ejaan <i
							class="fas fa-magic shortmenu animate"></i></a></li>
				</ul>
				<ul class="navbar-nav ml-md-auto d-md-flex">
					<li class="nav-item"><a class="nav-link" href="inbox"><i
							class="fas fa-inbox"></i> Inbox</a></li>
					<li class="nav-item"><a class="nav-link" href="profile"><i
							class="fas fa-user"></i> Profile</a></li>
					<li class="nav-item"><a class="nav-link" href="logout"><i
							class="fas fa-key"></i> Logout</a></li>
				</ul>
			</div>
		</nav>

		<div class="container-fluid">
			<div ng-include="list-modal"></div>
			<div ng-include="lastUrl"></div>
		</div>
	</div>


<link href="/languange/css/chat-message.css" type="text/css" rel ="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
 type="text/css" rel="stylesheet"

<div class="chat-container">
<div class="messaging">
      <div class="inbox_msg">
        <div class="mesgs">
          <div class="msg_history" schroll-bottom="chats">
          
          <div class="chat-caller"  ng-repeat = "chat in chats" >
          <div class="outgoing_msg" ng-if = "chat.isOutgoing">
              <div class="sent_msg">
                <p>{{chat.text}}</p>
                <span class="time_date"> 11:01 AM    |    June 9</span> 
              </div>
          </div>
          <div class="incoming_msg" ng-if="chat.isIncoming">
              <div class="incoming_msg_img"> <img src="/languange/images/RoxasIX.jpg" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>{{chat.text}}</p>
                  <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
              </div>
          </div>
          </div>
            
           </div>
          <div class="type_msg" id="message">
            <div class="input_msg_write">
              <input type="text" class="write_msg" placeholder="Type a message" ng-model="myChat"/>
              <button class="msg_send_btn" type="button" ng-click="sendMyChat(myChat)">
              <i class="fa fa-comments" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        
      </div>
    </div></div>



</body>

</html>